body{
  background-color: black;
  color: white;
}

.todo-content{
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-top: 5%;
  padding-top: 5%;
  
}

.todo-description{
  margin-left: 1.5%;
}
.add-button{
  margin-left: 30%;
  margin-top: 35px;
  padding: 5px 10px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.add-button:hover{
  background-color:rgb(6, 6, 111) ;
}

.heading{
text-align: center;
font-size: 30px;

}

.todo-butt{
  margin-left: 18%;
  margin-top: 5%;
  padding-bottom:2%;
  
}
.todo-input {
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5%;
  
}
.todo-input:focus{
  outline: 2px solid darkblue ;
}

.isCompleted{
  padding: 5px 10px;
  border: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  
}

.active{
  background-color: darkblue;
  color: white;
  
}

.todo-list-item h3{
  color: rgb(9, 9, 107);
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.todo-list-item p{
  color:grey ;
  font-size: 14px;
  margin-top: 8px;
}

.border{
  
  border: 1px solid white;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: rgb(82, 79, 79);
  border: none;
  
}

.todo-list{
  display: flex;
  flex-direction: column;
}

.todo-list-item{
  background-color: #414040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 65%;
  margin-left: 18%;

}

.delete-icon{
  font-size: 35px;
  cursor: pointer;
}
.delete-icon:hover{
  color: red;
}

.check-icon{
  font-size: 25px;
  margin-left: 10px;
  color: darkblue;
  cursor: pointer;
}

/* {allTodos.map((item, index) => {
  return (

    <div className='todo-list-item' key={index}>
      <div>
        <h3>{item.title}</h3>
        <p>{item.decription}</p>
      </div>

      <div >
        <AiOutlineDelete className='delete-icon' />
        <BsCheckLg className='check-icon' />
      </div>
    </div>
  )
})} */